
ul.cssMenu, ul.cssMenu ul
{
	list-style:none;
	margin:0; padding:0;
	position: relative;
}
ul.cssMenu ul 						
{ 
        display:none; /*initially menu item is hidden*/
        position: absolute; /*absolute positioning is important for menu to float*/
}
/* Hover effect for menu*/
ul.cssMenu li:hover > ul 			
{ 
	display:block;
}