.mytube-div{
    background-color: #f8f8f8;
    border-left: 1px solid #b1b1b1;
    border-right: 1px solid #b1b1b1;
    border-bottom: 1px solid #b1b1b1;
    border-collapse: collapse;
    margin: 1px;
    padding: 0;
    position: absolute;
    z-index: 9999;
}

.mytube-div table{
    border-bottom: none;
    border-collapse: collapse;
    border-left: none;
    border-right: none;
    border-top: none;
    color: #636363;
    font-family: arial, sans-serif;
    font-size: 11px;
    font-weight: bold;
    line-height: 11px;
    margin: auto;
    width: 100%;
}

.mytube-div input{
    border: 1px solid #b1b1b1;
    border-radius: 0px;
    color: #636363;
    font-family: arial, sans-serif;
    font-size: 11px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 2px;
    padding-right: 3px;
    padding-top: 0px;
    vertical-align: middle;
}

.mytube-div .first-td{
    text-align: center;
    width: 25px;
}

.mytube-div td{
    border: 1px solid #b1b1b1;
    padding: 2px 5px;
    text-align: left;
    vertical-align: middle;
}

.mytube-div tr{
    border: none;
    border-collapse: collapse;
}

.mytube-div .last-tr{
    border-bottom: none;
}

.mytube-div .settings-span{
    cursor: pointer;
    text-decoration: underline;
}

.mytube-div .error-msg{
    color: red;
    font-size: 12px;
    font-weight: normal;
}

.mytube-div .inline{
    display: inline;
}

.mytube-div td div{
    vertical-align: middle;
    color: #636363;
    font-family: arial, sans-serif;
    font-size: 11px;
    font-weight: bold;
    line-height: 11px;
}

.mytube-div label{
    display: inline;
    color: #636363;
    font-family: arial, sans-serif;
    font-size: 11px;
    font-weight: bold;
    line-height: 11px;
}

.mytube-div .mytube-styled-checkbox{
    width: 16px;
    height: 16px;
    display: block;
}

.mytube-div .mytube-styled-checkbox input{
    position: absolute;
    left: -9999px;
}

.mytube-div .mytube-play,
.mytube-div .mytube-play:hover,
.mytube-div .mytube-stop {
    width: 32px;
    height: 32px;
}

.mytube-div .mytube-notification-status{
    width: 16px;
    height: 16px;
    display: inline-block;
}

.mytube-div .mytube-repeat,
.mytube-div .mytube-no-repeat{
    margin-left: 6px;
}

.mytube-div .mytube-repeat{
    background: transparent url('resource://mytube-repeat.png/') no-repeat 0px 0px;
}

.mytube-div .mytube-no-repeat{
    background: transparent url('resource://mytube-no-repeat.png/') no-repeat 0px 0px;
}

.mytube-div .mytube-stop{
    background: transparent url('resource://mytube-stop.png/') no-repeat 0px 0px;
}

.mytube-div .mytube-stop:hover{
    background: transparent url('resource://mytube-stop-hover.png/') no-repeat 0px 0px;
}

.mytube-div .mytube-play{
    background: transparent url('resource://mytube-play.png/') no-repeat 0px 0px;
}

.mytube-div .mytube-play:hover{
    background: transparent url('resource://mytube-play-hover.png/') no-repeat 0px 0px;
}

.mytube-div .mytube-notification-status-information{
    background: transparent url('resource://mytube-information.png/') no-repeat 0px 0px;
}

.mytube-div .mytube-notification-status-error{
    background: transparent url('resource://mytube-error.png/') no-repeat 0px 0px;
}

.mytube-div .mytube-notification-status-exclamation{
    background: transparent url('resource://mytube-exclamation.png/') no-repeat 0px 0px;
}
